<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네이버 지도 - CSV 좌표 표시</title>
    <link rel="stylesheet" href="/Habitually_icy_section_csv.css">
</head>

<body>
    <h1>위험지역알리미</h1>

    <div class=" button-container">
        <button><a href="/">상습결빙구간</a></button>
        <button><a href="/pothole">포트홀 구간</a></button>
        <button><a href="https://www.naver.com">블랙아이스 구간</a></button>
    </div>

    <!--button onclick="loadCSV()">IceSection.csv 불러오기</button>
    <input type="file" id="fileInput" accept=".csv"-->

    <div id="btn-container">
        <button class="nav-button" onclick="moveToMyLocation()">내 위치로 이동</button>
    </div>

    <div id="map"></div>



    <!-- 네이버 지도 API -->
    <!-- <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=">
    </script> -->

    <script src="/js/Habityually_icy_section_csv.js"></script>


</body>

</html>