<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네이버 포트홀 표시</title>
    <link rel="stylesheet" href="/pothole.css">
</head>

<body>
    <h1>포트홀 구간</h1>

    <div class="button-container">
        <button><a href="/">이전으로 돌아가기</a></button>
    </div>

    <div id="btn-container">
        <button class="nav-button" onclick="moveToMyLocation()">내 위치로 이동</button>
    </div>

    <div id="map"></div>

    <script src="/js/pothole.js"></script>


</body>

</html>